#titleLabel {
    -fx-font-size: 15pt;
    -fx-font-weight: bold;
}

#installButton {
    -fx-font-weight: bold;
}

#taskProperties {
    -fx-background-color: lightgray;
}

.taskControlButton:pressed {
    -fx-translate-x: 1;
    -fx-translate-y: 1;
}
